body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


header {
    background-color: #458532;
    color: white;
    text-align: center;
    padding: 15px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

section {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #99e168;
}

th, td {
    color: white;
    border: 5px solid rgb(60, 49, 49);
    padding: 15px;
    text-align: left;
}

th {
    background-color: #458532;
}

tbody tr:hover {
    background-color: #55a53caf;
}

#tableHistory {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#tableHistory th,
#tableHistory td {
    padding: 10px;
    border: none;
}

#leaderboard-row {
    background-color: #458532;
    color: white;
    font-weight: bold;
    font-size: 28px;
}

#rank-row {
    background-color: aqua;
    color: #fbfcfb;
    font-weight: bold;
}

#table-body {
    text-align: center;
}

#table-body tr:nth-child(1) td:nth-child(2) {
    color: gold;
}
    
#table-body tr:nth-child(1) td:first-child {
    color: gold;
}

#table-body tr:nth-child(2) td:nth-child(2) {
    color: rgb(92, 87, 87);
}
#table-body tr:nth-child(2) td:first-child {
    color: rgb(92, 87, 87);
}

#table-body tr:nth-child(3) td:nth-child(2) {
    color: #cd7f32;
}
#table-body tr:nth-child(3) td:first-child {
    color: #cd7f32; 
}

#table-body tr:nth-child(4) td:nth-child(2) {
    color: #ffffff;
}


#table-body tr:nth-child(1) {
    font-size: 30px;
    color: #ae2101;
    font-weight: bold;
}

#table-body tr:nth-child(2) {
    font-size: 30px;
    color: #593932;
    font-weight: bold;
    text-indent: 20px;
}

#table-body tr:nth-child(3) {
    font-size: 30px;
    color: #593932;
    font-weight: bold;
    text-indent: 40px;
}

#table-body tr:nth-child(4) {
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-indent: 60px;
}

#table-body tr:nth-child(5) {
    font-size: 10px;
    color: #e03d14;
    font-weight: bold;
    text-indent: 40px;