:root {
    --font-colour: white;
    --link-colour: #99CC00;
    --support-text: 0.7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

button {
    cursor: pointer;
    border: none;
}

.btn {
    background-color: var(--link-colour);
    color: var(--font-colour);
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 15px;
}

.btn:hover {
    color: rgb(30, 34, 73);
}

/* Start of navigation bar styling */

/* Ensures city/temp is displayed on same line */
.location {
    display: flex;
}

#locationTemp {
    padding-left: 10px;
}

.container-fluid {
    margin: 10px;
}

/* Positions the welcome message under the logo */
.welcome-message {
    position: absolute;
    bottom: 5px;
    left: 115px;
    color: #458532;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.nav-link:hover, .active {
    color: var(--link-colour);
}

.cashier {
    margin-top: 5px;
}

.cashier:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--link-colour);
    color: var(--font-colour);
    margin-top: 5px;
}
/* End of navigation bar styling */


/* Start of GA/NGA button styling */
#giftAid, #not {
    padding: 5vw;
    margin: 0;
    font-size: 7vw;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adds drop shadow */
    color: var(--font-colour)
}

#giftAid {
    background-color: var(--link-colour);
    position: relative;
    z-index: 1;
    top: 2rem;
    left: 8rem;
}

#not {
    background-color: #F35959;
    position: relative;
    bottom: 8rem;
    left: 30rem;
    z-index: 1;
}

#gifClipID {
    position: absolute;
    /* Centers gif */
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Sits on top of both buttons */
  }

/* Switches button layout when screen size is below 1200px (mobile) and above 1600 (large screen) */
@media only screen and (max-width: 1200px), only screen and (min-width: 1600px) {
    #giftAid, #not {
        position: static;
        width: 100%;
        border-radius: 0;
    }

    /* Adds space between buttons */
    #not { 
        margin-top: 100px;
    }

    /* Removes icons for the table resize. */
    .icon {
        display: none;
  }
}

/* Adds enlarge effect for ga/nga buttons */
#giftAid:hover, #not:hover {
    transform: scale(1.05);
  }
/* End of GA/NGA button styling */


/* Start of description section styling */
#description {
    /* Provides animated background to the section */
    background: linear-gradient(90deg, black, green);
    animation: gradientAnimation 20s ease infinite;
    background-size: 200% 200%;
    padding: 50px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h3, h4 {
    font-size: calc(2vw + 1rem);
}

#ga-count {
    color: var(--link-colour);
}

#nga-count {
    color: #F35959;
}

p.logger-desc {
    opacity: var(--support-text);
    color: var(--font-colour);
}

.sales-desc {
    color: var(--font-colour);
}

#arrow {
    max-width: 60%;
    margin: auto;
}
/* End of description section styling */

/* Hides the table, needed for functionality, from the page */
#home-table {
    display: none;
}
