:root {
    --link-colour: #99CC00;
    --support-text: 0.7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 0, 0);
}

.location {
    display: flex;
    color: black;
}

.marquee-text {
    color: rgb(0, 0, 0);
}

button {
    cursor: pointer;
    border: none;
}

/* Removes the table, needed for functionality, from the page */
#homeTable {
    display: none;
}

.btn {
    background-color: var(--link-colour);
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 15px;
}

.btn:hover {
    color: rgb(30, 34, 73);
}

/* Start of navigation bar styling */
.container-fluid {
    margin: 10px;
}

/* Positions the welcome message under the logo */
.welcome-message {
    position: absolute;
    bottom: 5px;
    left: 115px;
    color: #458532;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.nav-link:hover {
    color: var(--link-colour);
}

.active {
    color: var(--link-colour);
}
/* End of navigation bar styling */

#currentDay {
    font-size: 20px;
    color: black;
}

/* Start of GA/NGA button styling */
#ga-container, #nga-container {
    z-index: 1;
    position: relative;
}

#giftAid, #not {
    /* Scales the size of the buttons as the viewport is resized */
    padding: 5vw;
    margin: 0;
    font-size: 7vw;
    border-radius: 20px;
    /* Adds drop shadow */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: white;
}

#giftAid {
    background-color: var(--link-colour); /* Green */
    position: relative;
    z-index: 2;
    top: 2vh;
    left: 2vw;
}

#not {
    background-color: #F35959; /* Red */
    position: relative;
    top: -5vh;
    left: 35vw;
    z-index: 1;
}

/* Switches button layout when screen size is 768px (mobile) */
@media only screen and (max-width: 768px) {
    #giftAid, #not {
        position: static;
        width: 100%;
        border-radius: 0;
    }

    /* Adds space between buttons */
    #not { 
        margin-top: 100px;
    }

    /* Removes icons for the table resize. */
    .icon {
        display: none;
  }
}

/* Adds enlarge effect for ga/nga buttons */
#giftAid:hover, #not:hover {
    transform: scale(1.05);
  }
/* End of GA/NGA button styling */

/* Start of description section styling */
#description {
    background: linear-gradient(90deg, black, green);
    animation: gradientAnimation 20s ease infinite;
    background-size: 200% 200%;
    padding: 50px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h3, h4 {
    font-size: calc(2vw + 1rem);
}

#ga-count {
    color: var(--link-colour);
}

#nga-count {
    color: #F35959;
}

p.logger-desc-section {
    opacity: var(--support-text);
    color: white;
}

.sales-desc {
    color: white;
}

#arrow {
    max-width: 60%;
    margin: auto;
}
/* End of description section styling */

#currentLocationData {
    color: black;
}


p.current-score {
    color: black;
    opacity: 0.2;
    font-weight: bold;
}

.cashier {
    margin-top: 5px;
}

.cashier:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: var(--link-colour);
    margin-top: 5px;

#gifClipID {
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 10;
}
