:root {
    --link-colour: #006543;
    --support-text: 0.7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 0 10px;
}

/* Start of navigation bar styling */
.container-fluid {
    margin: 10px;
}

/* Positions the welcome message under the logo */
.welcome-message {
    position: absolute;
    bottom: 5px;
    left: 115px; 
    color: #458532;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.nav-link:hover {
    color: var(--link-colour);
}

.active {
    color: var(--link-colour);
}
/* End of navigation bar styling */


/* INDEX.HTML */

/* Start of GA/NGA button styling */
#buttoncontainer {
    position: relative;
}

#giftAid, #not {
    padding: 10vw;
    font-size: 10vw;
    border-radius: 20px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: white;
}

#giftAid {
    background-color: #99CC00; /* Green */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

#not {
    background-color: #F35959; /* Red */
    position: relative;
    z-index: 2;
    top: -40px;
    left: 20px;
    z-index: 2;
}
/* End of GA/NGA button styling */

/* Start of description section styling */
#description {
    background-color: #458532;
    padding: 50px;
    color: white;
}

h3, h4 {
    font-size: calc(2vw + 1rem);
}

#ga-count {
    color: #99CC00;
}

#nga-count {
    color: #F35959;
}

p.logger-desc-section-text {
    opacity: var(--support-text);
}

#arrow {
    max-width: 60%;
    margin: auto;
}
/* End of description section styling */

#fullscreen-button {
    background-color: #006543;
    color: white;
    font-size: 20px;
    padding: 30px;
    border-radius: 50px;
}