th {
    color: white;
}

th:first-child {
    border-radius: 20px 0 0 0;
}

th:last-child {
    border-radius: 0 20px 0 0;
}

td {
    color: white;
    border: 5px solid white;
    border-bottom: none;
    font-weight: bold;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    background-color: white;
  }

#table-header {
    background-color: #458532;
    vertical-align: baseline;
}

#tableHistoryBody {
    background-color: #55a53caf;
}

.icon {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

