th, td {
    color: white;
}

td {
    border: 5px solid white;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 30px; /* Adjust as needed for roundness */
    overflow: hidden; /* This ensures that child elements don't overflow the rounded corners */
  }

#table-header {
    background-color: #458532;
    vertical-align: baseline;
}

#tableHistoryBody {
    background-color: #55a53caf;
}

.icon {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}